In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.utils.data as utils

In [2]:
train = pd.read_csv("house-prices-advanced-regression-techniques/train.csv")
test = pd.read_csv("house-prices-advanced-regression-techniques/test.csv")

In [3]:
train.shape, test.shape

((1460, 81), (1459, 80))

In [4]:
train.isna().sum().sort_values()[-30:-1]

YearBuilt          0
RoofStyle          0
RoofMatl           0
Exterior1st        0
Exterior2nd        0
ExterQual          0
ExterCond          0
Foundation         0
MSSubClass         0
YearRemodAdd       0
Utilities          0
Electrical         1
MasVnrType         8
MasVnrArea         8
BsmtQual          37
BsmtCond          37
BsmtFinType1      37
BsmtFinType2      38
BsmtExposure      38
GarageQual        81
GarageFinish      81
GarageYrBlt       81
GarageType        81
GarageCond        81
LotFrontage      259
FireplaceQu      690
Fence           1179
Alley           1369
MiscFeature     1406
dtype: int64

In [5]:
test.isna().sum().sort_values()[-33:-1]

GarageCars         1
GarageArea         1
KitchenQual        1
Exterior1st        1
SaleType           1
TotalBsmtSF        1
BsmtUnfSF          1
Exterior2nd        1
BsmtFinSF1         1
BsmtFinSF2         1
BsmtFullBath       2
Functional         2
Utilities          2
BsmtHalfBath       2
MSZoning           4
MasVnrArea        15
MasVnrType        16
BsmtFinType2      42
BsmtFinType1      42
BsmtExposure      44
BsmtQual          44
BsmtCond          45
GarageType        76
GarageFinish      78
GarageYrBlt       78
GarageQual        78
GarageCond        78
LotFrontage      227
FireplaceQu      730
Fence           1169
Alley           1352
MiscFeature     1408
dtype: int64

In [6]:
#Filling with "NA" string
for col in ['Alley','FireplaceQu','Fence','MiscFeature','PoolQC','GarageQual','GarageFinish','GarageType','GarageCond','BsmtQual','BsmtCond','BsmtFinType1','BsmtFinType2','BsmtExposure']:
    train[col].fillna('NA', inplace=True)
    test[col].fillna('NA', inplace=True)

In [7]:
train["LotFrontage"].value_counts().to_frame().index[0]

60.0

In [8]:
categorical = ['KitchenQual','Exterior1st','SaleType','Exterior2nd','Functional','Utilities','MSZoning','LotFrontage','Electrical','MasVnrArea','GarageYrBlt']
for i in categorical:
    train[i].fillna(train[i].value_counts().to_frame().index[0], inplace=True)
    test[i].fillna(test[i].value_counts().to_frame().index[0], inplace=True)
median_values_col=['GarageArea','GarageCars','BsmtFinSF1','TotalBsmtSF','BsmtFinSF2','BsmtFullBath','BsmtHalfBath','BsmtUnfSF']
for i in median_values_col:
    test[i].fillna(test[i].value_counts().to_frame().index[0], inplace=True)

In [9]:
print(train.isna().sum().sort_values()[-10:-1])
print(test.isna().sum().sort_values()[-10:-1])

ExterCond      0
ExterQual      0
MasVnrArea     0
Exterior2nd    0
Exterior1st    0
RoofMatl       0
RoofStyle      0
Heating        0
SalePrice      0
dtype: int64
ExterCond        0
ExterQual        0
MasVnrArea       0
Exterior2nd      0
Exterior1st      0
RoofMatl         0
RoofStyle        0
SaleType         0
SaleCondition    0
dtype: int64

In [10]:
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NA,Reg,Lvl,AllPub,...,0,NA,NA,NA,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NA,Reg,Lvl,AllPub,...,0,NA,NA,NA,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NA,IR1,Lvl,AllPub,...,0,NA,NA,NA,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NA,IR1,Lvl,AllPub,...,0,NA,NA,NA,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NA,IR1,Lvl,AllPub,...,0,NA,NA,NA,0,12,2008,WD,Normal,250000

In [11]:
test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NA,Reg,Lvl,AllPub,...,120,0,NA,MnPrv,NA,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NA,IR1,Lvl,AllPub,...,0,0,NA,NA,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NA,IR1,Lvl,AllPub,...,0,0,NA,MnPrv,NA,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NA,IR1,Lvl,AllPub,...,0,0,NA,NA,NA,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NA,IR1,HLS,AllPub,...,144,0,NA,NA,NA,0,1,2010,WD,Normal

In [12]:
train_num= train.values
test_num= test.values
#x_train= train_num[:,:-1]
labels=train_num[:,-1]
print("Maximum value is ",labels.max())
# x_test=test_num[:,:-1]
# y_test=test_num[:,-1]




train.drop(['SalePrice','Id'],axis=1, inplace=True)
test.drop('Id',axis=1,inplace=True)

Maximum value is  755000

In [13]:
col_groups = train.columns.to_series().groupby(train.dtypes).groups
non_numeric_cols = col_groups[np.dtype('O')]

In [14]:
len(non_numeric_cols)

43

In [15]:
for col in non_numeric_cols:
    one_hot = pd.get_dummies(train[col],prefix=str(col+"_"))
    train = train.drop(col,axis=1)
    train = train.join(one_hot)
train.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType__ConLw,SaleType__New,SaleType__Oth,SaleType__WD,SaleCondition__Abnorml,SaleCondition__AdjLand,SaleCondition__Alloca,SaleCondition__Family,SaleCondition__Normal,SaleCondition__Partial
0,60,65.0,8450,7,5,2003,2003,196.0,706,0,...,0,0,0,1,0,0,0,0,1,0
1,20,80.0,9600,6,8,1976,1976,0.0,978,0,...,0,0,0,1,0,0,0,0,1,0
2,60,68.0,11250,7,5,2001,2002,162.0,486,0,...,0,0,0,1,0,0,0,0,1,0
3,70,60.0,9550,7,5,1915,1970,0.0,216,0,...,0,0,0,1,1,0,0,0,0,0
4,60,84.0,14260,8,5,2000,2000,350.0,655,0,...,0,0,0,1,0,0,0,0,1,0

In [16]:
col_groups = test.columns.to_series().groupby(test.dtypes).groups
non_numeric_cols = col_groups[np.dtype('O')]

In [17]:
len(non_numeric_cols)

43

In [18]:
for col in non_numeric_cols:
    one_hot = pd.get_dummies(test[col],prefix=str(col+"_"))
    test = test.drop(col,axis=1)
    test = test.join(one_hot)
test.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType__ConLw,SaleType__New,SaleType__Oth,SaleType__WD,SaleCondition__Abnorml,SaleCondition__AdjLand,SaleCondition__Alloca,SaleCondition__Family,SaleCondition__Normal,SaleCondition__Partial
0,20,80.0,11622,5,6,1961,1961,0.0,468.0,144.0,...,0,0,0,1,0,0,0,0,1,0
1,20,81.0,14267,6,6,1958,1958,108.0,923.0,0.0,...,0,0,0,1,0,0,0,0,1,0
2,60,74.0,13830,5,5,1997,1998,0.0,791.0,0.0,...,0,0,0,1,0,0,0,0,1,0
3,60,78.0,9978,6,6,1998,1998,20.0,602.0,0.0,...,0,0,0,1,0,0,0,0,1,0
4,120,43.0,5005,8,5,1992,1992,0.0,263.0,0.0,...,0,0,0,1,0,0,0,0,1,0

In [19]:
for i in train.columns:
    if i not in test.columns:
        print("Index is ",train.columns.get_loc(i))
        index= train.columns.get_loc(i)
        test.insert(index,i,0)
        #test[i]=0
        print(i)

Index is  55
Utilities__NoSeWa
Index is  103
Condition2__RRAe
Index is  104
Condition2__RRAn
Index is  105
Condition2__RRNn
Index is  114
HouseStyle__2.5Fin
Index is  125
RoofMatl__ClyTile
Index is  127
RoofMatl__Membran
Index is  128
RoofMatl__Metal
Index is  129
RoofMatl__Roll
Index is  140
Exterior1st__ImStucc
Index is  143
Exterior1st__Stone
Index is  157
Exterior2nd__Other
Index is  212
Heating__Floor
Index is  216
Heating__OthW
Index is  228
Electrical__Mix
Index is  258
GarageQual__Ex
Index is  274
PoolQC__Fa
Index is  286
MiscFeature__TenC

In [20]:
test.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType__ConLw,SaleType__New,SaleType__Oth,SaleType__WD,SaleCondition__Abnorml,SaleCondition__AdjLand,SaleCondition__Alloca,SaleCondition__Family,SaleCondition__Normal,SaleCondition__Partial
0,20,80.0,11622,5,6,1961,1961,0.0,468.0,144.0,...,0,0,0,1,0,0,0,0,1,0
1,20,81.0,14267,6,6,1958,1958,108.0,923.0,0.0,...,0,0,0,1,0,0,0,0,1,0
2,60,74.0,13830,5,5,1997,1998,0.0,791.0,0.0,...,0,0,0,1,0,0,0,0,1,0
3,60,78.0,9978,6,6,1998,1998,20.0,602.0,0.0,...,0,0,0,1,0,0,0,0,1,0
4,120,43.0,5005,8,5,1992,1992,0.0,263.0,0.0,...,0,0,0,1,0,0,0,0,1,0

In [21]:
train = (train- train.mean())/ train.std()
x_train = train.values

In [22]:
x_train= x_train.astype('float64')

In [23]:
x_train= torch.Tensor(x_train)

In [24]:
labels= labels.astype('float64')

In [25]:
labels= torch.Tensor(labels)

In [26]:
test =(test-test.mean())/test.std()
x_test= test.values
x_test= x_test.astype('float64')
x_test = torch.Tensor(x_test)

In [27]:
class Net(nn.Module):
    def __init__(self,size):
        super(Net, self).__init__()
        # an affine operation: y = Wx + b
        self.fc1 = nn.Linear(size, 150)
        #self.fc2 = nn.Linear(150, 120)
        #self.fc3 = nn.Linear(120, 70)
        #self.fc4 = nn.Linear(150, 40)
        self.fc5 = nn.Linear(150,40)
        self.fc6 = nn.Linear(40,1)
    def forward(self, x):
        #print("Came here for ",x)
        x = F.leaky_relu(self.fc1(x))
        #x = F.leaky_relu(self.fc2(x))
        #x = F.leaky_relu(self.fc3(x))
        #x = F.leaky_relu(self.fc4(x))
        x = F.leaky_relu(self.fc5(x))
        x = self.fc6(x)
        return x

In [28]:
x_train.shape, labels.shape

(torch.Size([1460, 302]), torch.Size([1460]))

In [29]:
x_test.shape

torch.Size([1459, 302])

In [30]:
dataset= utils.TensorDataset(x_train,labels)
dataLoader = utils.DataLoader(dataset)

In [31]:
model = Net(x_train.shape[1])

In [32]:
model

Net(
  (fc1): Linear(in_features=302, out_features=150, bias=True)
  (fc5): Linear(in_features=150, out_features=40, bias=True)
  (fc6): Linear(in_features=40, out_features=1, bias=True)
)

In [33]:
criteria= nn.MSELoss()
optimizer = torch.optim.Adam(model.parameters(),lr=0.001)

In [35]:
for epoch in range(19):
    ave_loss=0.0
    print("Epoch ",epoch+1)
    for i,data in enumerate(dataLoader,0):
        inputs,target =data
        target = target.float()
        optimizer.zero_grad()
        output=model(inputs)
        loss=criteria(output,target)
        loss.backward()
        optimizer.step()
        ave_loss+=loss.item()
        #print(loss,"\n ")
        if i%200==0:    # print every 200 mini-batches
            print('[%d, %5d] loss: %.3f' %
                 (epoch + 1, i + 1, ave_loss / 100))
            ave_loss = 0.0

Epoch  1
[1,     1] loss: 195710.840
[1,   201] loss: 6435619154.737
[1,   401] loss: 5826667126.608
[1,   601] loss: 6222044599.890
[1,   801] loss: 4305121945.155
[1,  1001] loss: 4651488366.685
[1,  1201] loss: 12241128919.487
[1,  1401] loss: 4451692912.139
Epoch  2
[2,     1] loss: 138016.890
[2,   201] loss: 6262965066.007
[2,   401] loss: 5520401653.601
[2,   601] loss: 5986257919.864
[2,   801] loss: 4070037542.089
[2,  1001] loss: 4354550255.995
[2,  1201] loss: 12093388648.114
[2,  1401] loss: 4354603727.555
Epoch  3
[3,     1] loss: 91692.570
[3,   201] loss: 6111820102.586
[3,   401] loss: 5249314845.204
[3,   601] loss: 5751725029.794
[3,   801] loss: 3865815008.853
[3,  1001] loss: 4102435379.681
[3,  1201] loss: 11962188164.763
[3,  1401] loss: 4277629206.868
Epoch  4
[4,     1] loss: 59816.165
[4,   201] loss: 5977878026.250
[4,   401] loss: 5007852353.943
[4,   601] loss: 5532956121.635
[4,   801] loss: 3685031823.308
[4,  1001] loss: 3892617974.332
[4,  1201] loss: 11847350033.444
[4,  1401] loss: 4213362965.701
Epoch  5
[5,     1] loss: 37743.990
[5,   201] loss: 5857879530.998
[5,   401] loss: 4793558587.422
[5,   601] loss: 5336286792.434
[5,   801] loss: 3524885209.402
[5,  1001] loss: 3718677913.675
[5,  1201] loss: 11743880598.456
[5,  1401] loss: 4157803338.695
Epoch  6
[6,     1] loss: 23860.595
[6,   201] loss: 5752145410.995
[6,   401] loss: 4598607326.115
[6,   601] loss: 5162604919.856
[6,   801] loss: 3375384625.741
[6,  1001] loss: 3568187263.199
[6,  1201] loss: 11648679384.982
[6,  1401] loss: 4109076845.492
Epoch  7
[7,     1] loss: 13200.215
[7,   201] loss: 5657379130.235
[7,   401] loss: 4407682426.501
[7,   601] loss: 5007697829.694
[7,   801] loss: 3238673172.223
[7,  1001] loss: 3444261876.682
[7,  1201] loss: 11562983860.449
[7,  1401] loss: 4064717540.250
Epoch  8
[8,     1] loss: 7924.059
[8,   201] loss: 5571741483.142
[8,   401] loss: 4236074289.999
[8,   601] loss: 4871091749.965
[8,   801] loss: 3113129597.968
[8,  1001] loss: 3342908776.975
[8,  1201] loss: 11484930082.043
[8,  1401] loss: 4024067237.077
Epoch  9
[9,     1] loss: 4523.403
[9,   201] loss: 5494181969.659
[9,   401] loss: 4084680608.597
[9,   601] loss: 4750409688.710
[9,   801] loss: 2996852095.652
[9,  1001] loss: 3258037832.109
[9,  1201] loss: 11411753318.903
[9,  1401] loss: 3985672012.276
Epoch  10
[10,     1] loss: 2434.189
[10,   201] loss: 5422829711.732
[10,   401] loss: 3948684469.778
[10,   601] loss: 4639299827.578
[10,   801] loss: 2888576468.808
[10,  1001] loss: 3186395683.131
[10,  1201] loss: 11343923110.458
[10,  1401] loss: 3949494621.599
Epoch  11
[11,     1] loss: 1372.124
[11,   201] loss: 5355939001.792
[11,   401] loss: 3827704801.460
[11,   601] loss: 4541871023.856
[11,   801] loss: 2785410790.972
[11,  1001] loss: 3125091318.726
[11,  1201] loss: 11279598096.606
[11,  1401] loss: 3915225526.943
Epoch  12
[12,     1] loss: 802.660
[12,   201] loss: 5293044177.861
[12,   401] loss: 3719618195.722
[12,   601] loss: 4455538567.362
[12,   801] loss: 2687010223.746
[12,  1001] loss: 3071828791.123
[12,  1201] loss: 11219389899.136
[12,  1401] loss: 3883363823.873
Epoch  13
[13,     1] loss: 415.778
[13,   201] loss: 5234282511.441
[13,   401] loss: 3622832737.598
[13,   601] loss: 4377039499.403
[13,   801] loss: 2594495143.026
[13,  1001] loss: 3025054029.390
[13,  1201] loss: 11162354792.973
[13,  1401] loss: 3848994943.263
Epoch  14
[14,     1] loss: 59.194
[14,   201] loss: 5179172639.434
[14,   401] loss: 3534853498.522
[14,   601] loss: 4302639593.453
[14,   801] loss: 2508814595.907
[14,  1001] loss: 2982179166.344
[14,  1201] loss: 11105911038.661
[14,  1401] loss: 3796458249.062
Epoch  15
[15,     1] loss: 65.105
[15,   201] loss: 5126743525.186
[15,   401] loss: 3453856249.038
[15,   601] loss: 4234223594.384
[15,   801] loss: 2427410302.798
[15,  1001] loss: 2942538059.490
[15,  1201] loss: 11028828175.956
[15,  1401] loss: 3742333651.973
Epoch  16
[16,     1] loss: 43.436
[16,   201] loss: 5074491863.978
[16,   401] loss: 3378900270.883
[16,   601] loss: 4170935375.839
[16,   801] loss: 2348174300.288
[16,  1001] loss: 2904440426.338
[16,  1201] loss: 10947138032.905
[16,  1401] loss: 3686178602.011
Epoch  17
[17,     1] loss: 244.336
[17,   201] loss: 4996407054.129
[17,   401] loss: 3312379437.143
[17,   601] loss: 4110302989.535
[17,   801] loss: 2274898546.397
[17,  1001] loss: 2869243083.865
[17,  1201] loss: 10866341775.397
[17,  1401] loss: 3630058274.707
Epoch  18
[18,     1] loss: 423.009
[18,   201] loss: 4918900202.642
[18,   401] loss: 3252872096.992
[18,   601] loss: 4053396636.544
[18,   801] loss: 2205919360.623
[18,  1001] loss: 2835377742.794
[18,  1201] loss: 10785702577.109
[18,  1401] loss: 3576803963.697
Epoch  19
[19,     1] loss: 678.114
[19,   201] loss: 4837652424.732
[19,   401] loss: 3199147444.907
[19,   601] loss: 3998787603.904
[19,   801] loss: 2140393283.514
[19,  1001] loss: 2803778867.444
[19,  1201] loss: 10704332347.723
[19,  1401] loss: 3523592999.052